@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: .6;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: .8;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  border-radius: 0.375rem;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  // @apply right-0;
  // @apply border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  // @apply bg-green-400;
  background-color: #68D391;
}
